{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur
{% endblock %}

{% block body %}
	<h1 class="kawaii-contract-main-title user dashboard">Modifier un utilisateur</h1>
	{{ include('admin/user/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
