{% extends 'base.html.twig' %}

{% block title %}Kawaii Contract
{% endblock %}

{% block body %}
	<section class="kawaii-contract-body home">
		{% set today = "now"|date('d-m-Y') %}
		<!-- I. Derniers contrats  -->
		{{ include('home/_lastContracts.html.twig') }}
		<!-- II. Contrats en cours -->
		{{ include('home/_inProgress.html.twig') }}
	<!-- III. Contrats bientôt à leur terme -->
		{#{ include('home/_soonFinish.html.twig') }#}
	</section>

	<script>
		toggle("svg[data-number-last-contracts]", "data-number-last-contracts", "button-last-contracts", "content-last-contracts");
toggle("svg[data-number-in-progress]", "data-number-in-progress", "button-in-progress", "content-in-progress");
toggle("svg[data-number-soon-finish]", "data-number-soon-finish", "button-soon-finish", "content-soon-finish");
	</script>
{% endblock %}
