{% extends 'base.html.twig' %}

{% block title %}Editer le contrat
{% endblock %}

{% block body %}
	<h1 class="kawaii-contract-title-structure">Editer le contrat</h1>

	{{ include('admin/contract/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
