{% extends 'base.html.twig' %}

{% block title %}Ajout nouvelle entreprise
{% endblock %}

{% block body %}
	<h1 class="kawaii-contract-main-title dashboard">Ajouter une nouvelle entreprise</h1>

	{{ include('admin/company/_form.html.twig') }}

{% endblock %}
