{% extends 'base.html.twig' %}

{% block title %}Modifier une entreprise
{% endblock %}

{% block body %}
	<h1 class="kawaii-contract-main-title companies dashboard">Modifier une entreprise</h1>

	{{ include('admin/company/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
