<form method="post" action="{{ path('amendement_del', {'id': amendement.id}) }}" onsubmit="return confirm('Êtes vous sûr ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ amendement.id) }}">
	<button class="btn">Supprimer</button>
</form>
