{% extends 'base.html.twig' %}

{% block title %}New Amendement
{% endblock %}

{% block body %}
	<h1 class="kawaii-contract-main-title amendement dashboard">Créer un avenant</h1>

	{{ include('admin/amendement/_form.html.twig') }}

{% endblock %}
