{% extends 'base.html.twig' %}

{% block title %}Modifier Avenant
{% endblock %}

{% block body %}
	<h1 class="kawaii-contract-main-title amendement dashboard">Modifier un avenant</h1>

	{{ include('admin/amendement/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
