{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie
{% endblock %}

{% block body %}
	<h1 class="kawaii-contract-main-title dashboard">Ajouter une nouvelle catégorie de contrat</h1>

	{{ include('admin/category/_form.html.twig') }}
{% endblock %}
