{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie
{% endblock %}

{% block body %}
	<h1 class="kawaii-contract-main-title dashboard">Editer la catégorie de contrat</h1>

	{{ include('admin/category/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
