{% extends 'base.html.twig' %}

{% block title %}Nouveau produit
{% endblock %}

{% block body %}
	<h1 class="kawaii-contract-main-title dashboard">Ajouter un nouveau produit</h1>

	{{ include('admin/product/_form.html.twig') }}

{% endblock %}
