{% extends 'base.html.twig' %}

{% block title %}Nouvelle marque
{% endblock %}

{% block body %}
	<h1 class="kawaii-contract-main-title dashboard">Ajouter une nouvelle marque</h1>
	{{ include('admin/brand/_form.html.twig') }}
{% endblock %}
